# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# archives
*.zip
*.rar

# docs/*.md
# README.md

# env
.env
*.env
frontend/.env
backend/.env

# database dumps
*_dump.sql
dumps/

# if you want to keep a specific SQL file:
*.sql
# !production_tables.sql

# logs
logs/
*.log
npm-debug.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/

# prisma sqlite database
backend/prisma/dev.db

# temporary documentation exports
*.pdf
*.docx
*.tmp